body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.col-container {
  display: inline;
  flex-direction: column;
}

.column {
  float: left;
}

.post-container {
  width: 66%;
}

.side {
  width: 33%;
  outline: 1px dotted green;
}

.user-name {
  font-weight: bold;
  font-size: 20pt;
}

.user-description {
  font-size: 14pt;
}

.post-title {
  font-weight: bold;
  font-size: 32pt;
}

.box-container {
  display: inline;
  outline: 1px dotted red;
}

.header {
  position: fixed;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.about-me {
  outline: 1px dotted pink;
  display: inline;
  float: left;
}

.boxxy {
  float: left;
  text-align: center;
  position: relative;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
}

.post {
  outline: 1px dashed blue;
  margin-bottom: 1;

}

.center-text {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 40%;
}

.post-location {
  font-size: 16pt;
}

.user {
  display: flex;
}

.user-text{
  float: left
}

.avatar{
  border-radius: 50%;
}

.header-element{
  font-color: blue;
  display: inline;
  margin-left: 25%;
}
